@import 'partials/settings';     // settings must be before all JS files, which are linked to by "foundation"
@import 'partials/clearfix';
@import 'foundation';

@import "https://fonts.googleapis.com/css?family=Lato-Regular:400,400italic,700.css";
@import "https://fonts.googleapis.com/css?family=Oswald-Regular:400,400italic,700.css";
$phone: 'only screen and (max-width: 500px)';
$desktop: 'only screen and (min-width: 1000px)';
$tablet: 'only screen and (min-width: 500px) and (max-width: 1000px)';

html, body {
  height: 100%;
}

body {
  background: url('assets/bg.jpg') cover red;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
  padding: 16px;
}

#logo {
  float: right;
}

#header-image {
  background: url("assets/header_bg.svg") cover white;
  width: 410px;
  height: 10px;
}

.links, .footer {
  background-color: black;
  text-align: center;
  padding: 8px;
}

.box {
  background-color: white;
  text-align: center;
  width: 400px;
  height: 600px;
}

.box-pic {
  background: url("assets/logo.svg") cover white;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  padding: 24px;
}

.box-title {
  font: Lato Regular larger;
  padding: 0 24px;
}

.box-subtitle {
  font: Oswald Regular smaller;
  padding: 8px 24px 16px 24px;
}

.box-text {
  box-sizing: border-box;
  width: 400px;
  height: 150px;
  padding: 0 24px;
}
