// @import 'partials/settings';     // settings must be before all JS files, which are linked to by "foundation"
@import 'partials/clearfix';
@import '../bower_components/foundation/scss/foundation';

@import "https://fonts.googleapis.com/css?family=Lato-Regular:400,400italic,700.css";
@import "https://fonts.googleapis.com/css?family=Oswald-Regular:400,400italic,700.css";
$phone: 'only screen and (max-width: 400px)';
$desktop: 'only screen and (min-width: 800px)';
$tablet: 'only screen and (min-width: 400px) and (max-width: 800px)';

body {
  background-image: url('assets/bg.jpg');
  background-color: red;
}

.header {
  text-align: center;
  height: 60px;
  margin: 40px auto 0 auto;
}

#header-image {
  position: relative;
  right: 20px;
  display: inline-block;
  background-image: url("assets/header_bg.svg");
  background-repeat: no-repeat;
  width: 360px;
  height: 60px;
}

#logo-image {
  width: 120px;
  height: 60px;
  bottom: 20px;
  right: 110px;
  position: absolute;
  display: inline-block;
  background-image: url("assets/logo.svg");
}

// needed to hide background image links, which are included for DOM SEO;
.hidden {
  display: none;
}

// needed since Foundation's sub-nav is a block;
.navlinks {
  display: inline-block;
}

.navlinks > dd > a:hover {
  color: red;
}

// needed to reduce padding and font-size for phones;
.navlinks > dd > a {
  padding: 8px;
  font-size: 90%;
  @media #{$phone} {
    font-size: 70%;
  }
}

.links, .footer {
  background-color: black;
  text-align: center;
  height: 40px;
  padding: 8px;
}

// needed since img are replaced elements;
.footer-image {
  margin-bottom: 8px;
}

// col-width is needed for tablet size to show multi-columns;
.col-width {
  @media #{$tablet} {
    width: 50%;
  }
}

.box:hover {
  border: 2px solid yellow;
}

.box {
  background-color: white;
  text-align: center;
  margin: 24px auto;
  border: 1px solid black;
}

.pic-wrapper {
  margin: 16px;
}

.box-pic {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.box-title {
  font-family: Lato Regular;
  font-size: larger;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0 24px;
}

.box-subtitle {
  font-family: Oswald Regular;
  font-size: smaller;
  padding: 0 24px;
  box-sizing: border-box;
}

.box-text {
  box-sizing: border-box;
  padding: 16px;
  font-size: 85%;
}
